In [1]:
print("Hello world")

Hello world

In [5]:
print(4 + 4)

8

In [3]:
# ma_variable = 4

In [4]:
print(ma_variable)

4

# Titre

## Sous titre

* Item 1
* Item 2

paragraphe

In [7]:
# from time import sleep

# sleep(10)

In [1]:
ma_variable = 4

In [2]:
print(type(ma_variable))

<class 'int'>

In [3]:
ma_variable = "Bonjour"
print(type(ma_variable))

<class 'str'>

In [4]:
ma_variable = 4

print(ma_variable + 10)

14

In [5]:
ma_variable = "Bonjour"
print(ma_variable + 10)

TypeError: can only concatenate str (not "int") to str

In [6]:
ma_variable = "Bonjour"
print(ma_variable + " Eloise")

Bonjour Eloise

In [17]:
a = 3
b = 3.
c = 3.2
d = 4 + 2j
e = True or False

In [18]:
est_majeur = True
est_salarie = False


est_majeur_et_salarie = est_majeur and est_salarie

In [19]:
est_majeur_et_salarie

False

In [20]:
print(type(e))

<class 'bool'>

In [22]:
ma_variable = None
print(type(ma_variable))

<class 'NoneType'>

In [23]:
ma_chaine = "Bonjour"
ma_liste = [2, 5, 9, 10, True, "Bonjour", [12, 4]]
mon_tuple = (1, 5, 12)
mon_dico = {"prenom": "Mickael", "nom": "Bolnet"}

In [24]:
ma_chaine + " Martin"

'Bonjour Martin'

In [25]:
ma_chaine * 4

'BonjourBonjourBonjourBonjour'

In [26]:
ma_chainemon_

'B'

In [27]:
ma_chaine[-1]

'r'

In [35]:
ma_liste
print(print("Bonjour"))

Bonjour
None

In [29]:
ma_liste[1]

5

In [30]:
ma_liste[-1]

[12, 4]

In [31]:
ma_liste[-1][-1]

4

In [32]:
ma_liste[2] = "Hello"
ma_liste

[2, 5, 'Hello', 10, True, 'Bonjour', [12, 4]]

In [33]:
mon_tuple[0] = 15

TypeError: 'tuple' object does not support item assignment

In [36]:
mon_tuple[0]

1

In [37]:
mon_tuple = (12, 13)

## Mutation des variables

In [38]:
a = [12, 15]
b = a

b

[12, 15]

In [39]:
b[0] = 21

b

[21, 15]

In [40]:
a

[21, 15]

In [41]:
a = [12, 15]
b = list(a)

b

[12, 15]

In [43]:
b[0] = 36
a

[12, 15]

In [44]:
b

[36, 15]

## Cas des types simples

In [45]:
a = 2
b = a

b = 12
a

2

## Methodes de liste

In [46]:
ma_liste

[2, 5, 'Hello', 10, True, 'Bonjour', [12, 4]]

In [47]:
ma_liste.append("Nouveau")

In [48]:
ma_liste

[2, 5, 'Hello', 10, True, 'Bonjour', [12, 4], 'Nouveau']

In [49]:
ma_liste = ma_liste + ["Nouveau"]

In [50]:
ma_liste

[2, 5, 'Hello', 10, True, 'Bonjour', [12, 4], 'Nouveau', 'Nouveau']

In [51]:
ma_liste = ["nouveau"] + ma_liste

In [55]:
ma_liste[3:3] = [22]
ma_liste

['nouveau',
 2,
 5,
 22,
 'Hello',
 10,
 True,
 'Bonjour',
 [12, 4],
 'Nouveau',
 'Nouveau']

In [54]:
help(ma_liste.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [57]:
ma_liste[1:4:2]

[2, 22]

In [59]:
"Martin" in ma_liste

False

In [60]:
len(ma_liste)

11

In [66]:
ma_liste

['nouveau',
 2,
 5,
 22,
 'Hello',
 10,
 True,
 'Bonjour',
 [12, 4],
 'Nouveau',
 'Nouveau']

In [62]:
ma_liste[0:4]
ma_liste[:4]

['nouveau', 2, 5, 22]

In [63]:
ma_liste[2:] # à partir du 3eme

[5, 22, 'Hello', 10, True, 'Bonjour', [12, 4], 'Nouveau', 'Nouveau']

In [64]:
ma_liste[-4:] # les 4 derniers

['Bonjour', [12, 4], 'Nouveau', 'Nouveau']

In [65]:
ma_liste[::2] # un élément sur deux

['nouveau', 5, 'Hello', True, [12, 4], 'Nouveau']

In [67]:
ma_liste[::-2] # inversé de deux en deux

['Nouveau', [12, 4], True, 'Hello', 5, 'nouveau']

In [70]:
# récupérer les 3 premiers éléments
# récupérer un élément sur deux dans les 6 premièrs éléments
# inverser la liste
# récpérer tous les éléments du deuxième en partant de la fin jusqu'au 3ème élément