In [7]:
ma_chaine = "Bonjour Mathieu j'ai 36 ans"

ma_liste = ma_chaine.split(" ")
ma_liste

['Bonjour', 'Mathieu', "j'ai", '36', 'ans']

In [6]:
"-".join(ma_liste)

"Bonjour-Mathieu-j'ai-36-ans"

In [13]:
ma_chaine = "Bonjour tout le monde"
# Faire un algo qui inverse les mots de la chaine
# resultat : monde le tout Bonjour

ma_liste = ma_chaine.split(" ")
print(ma_liste)
ma_liste = ma_liste[::-1]
" ".join(ma_liste)

['Bonjour', 'tout', 'le', 'monde']

'monde le tout Bonjour'

In [15]:
ma_chaine = "Bonjour tout le monde"

" ".join(ma_chaine.split(" ")[::-1])

'monde le tout Bonjour'

In [21]:
# Faire un algo qui inverse les lettres dans les mots de la chaine
# resultat : ruojnoB tuot el ednom

ma_chaine = "Bonjour tout le monde"
ma_liste = ma_chaine.split(" ")
resultat = []
for mot in ma_liste:
    resultat.append(mot[::-1])
print(resultat)
resultat = " ".join(resultat)
resultat

['ruojnoB', 'tuot', 'el', 'ednom']

'ruojnoB tuot el ednom'

In [23]:
ma_chaine = "Bonjour tout le monde"

" ".join([mot[::-1] for mot in ma_chaine.split(" ")])

'ruojnoB tuot el ednom'

In [37]:
ma_liste = [1,4,7,3,4,9,5]
# trouver le produit maximum entre deux nombres consécutifs

produits = []

# for i in range(len(ma_liste))
for i, nb in enumerate(ma_liste[:-1]):
    produits.append(nb * ma_liste[i+1])
    
max(produits)

45

In [38]:
ma_liste = [1,4,7,3,4,9,5]
# trouver le produit maximum entre deux nombres consécutifs

maximum = None

# for i in range(len(ma_liste))
for i, nb in enumerate(ma_liste[:-1]):
    if maximum is None or maximum < nb * ma_liste[i+1]:
        maximum = nb * ma_liste[i+1]

maximum

45

In [41]:
ma_liste = [102,4,7,3,4,9,5]
# trouver les leaders
# cad trouver les nombres dont la somme des nombres qui suivent est inférieur à ce nombre
# Est-ce que 102 est surpérieur à 4 + 7 + 3 + 4 + 9 + 5

leaders = []
for i, nb in enumerate(ma_liste):
    if nb > sum(ma_liste[i+1:]):
        leaders.append(nb)
        
leaders

[102, 9, 5]

In [46]:
ma_liste = [1,4,7,3,4,9,5]
ma_liste2 = [2,3,17,5,6,8,10,3,4]
# faire le tableau de la somme des deux listes élément par éléments
# resultat [3,7,24,8,10,17,15]
# si une liste est plus grande que l'autre on completera avec des zeros
resultat = []
for i in range(max(len(ma_liste), len(ma_liste2))):
    a = ma_liste[i] if i < len(ma_liste) else 0
    b = ma_liste2[i] if i < len(ma_liste2) else 0
    resultat.append(a + b)
    
resultat

[3, 7, 24, 8, 10, 17, 15, 3, 4]

In [55]:
ma_liste = [1,4,7,3,4,9,5]
ma_liste2 = [2,3,17,5,6,8,10,3,4]
# faire le tableau de la somme des deux listes élément par éléments
# resultat [3,7,24,8,10,17,15]
# si une liste est plus grande que l'autre on completera avec des zeros
if len(ma_liste) < len(ma_liste2):
    ma_liste += [0] * (len(ma_liste2) - len(ma_liste))
else:
    ma_liste2 += [0] * (len(ma_liste) - len(ma_liste2))

resultat = []
for a,b in zip(ma_liste, ma_liste2):
    print(f"a = {a} et b = {b}")
    resultat.append(a + b)
resultat

a = 1 et b = 2
a = 4 et b = 3
a = 7 et b = 17
a = 3 et b = 5
a = 4 et b = 6
a = 9 et b = 8
a = 5 et b = 10
a = 0 et b = 3
a = 0 et b = 4

[3, 7, 24, 8, 10, 17, 15, 3, 4]

In [60]:
from itertools import zip_longest

ma_liste = [1,4,7,3,4,9,5]
ma_liste2 = [2,3,17,5,6,8,10,3,4]
# faire le tableau de la somme des deux listes élément par éléments
# resultat [3,7,24,8,10,17,15]
# si une liste est plus grande que l'autre on completera avec des zeros

resultat = []
for a,b in zip_longest(ma_liste, ma_liste2, fillvalue=0):
    print(f"a = {a} et b = {b}")
    resultat.append(a + b)
resultat

a = 1 et b = 2
a = 4 et b = 3
a = 7 et b = 17
a = 3 et b = 5
a = 4 et b = 6
a = 9 et b = 8
a = 5 et b = 10
a = 0 et b = 3
a = 0 et b = 4

[3, 7, 24, 8, 10, 17, 15, 3, 4]

In [58]:
from itertools import product

for a, b in product(ma_liste[:2], ma_liste2[:2]):
    print(f"a = {a} et b = {b}")

a = 1 et b = 2
a = 1 et b = 3
a = 4 et b = 2
a = 4 et b = 3

In [50]:
ma_liste = [4,5]

ma_liste.append(4+7)
ma_liste

[4, 5, 11]

In [ ]:
def fusion(arr1, arr2):
    """
        retourne un tableau trié avec arr1 et arr2 (qui sont déjà triés)
    """
    return arr

def tri_fusion(array):
    if len(array) < 2:
        # return array
    elif len(array) == 2:
        # return array ou son inverse (pour retourner une liste triée)
    else:
        # appliquer le tri sur les deux moitiers de la liste => arr1 et arr2 
        # retourner une fusion de arr1 et arr2

In [ ]:
fusion([1,5,8], [2,4,9])
# 1,2,4,5,8,9

In [31]:
a, *arr = [1, 4, 6, 7]

print(a)
print(arr)

1
[4, 6, 7]

In [35]:
ma_liste = [1,5,8,4,3]
sum(ma_liste[1:5])

20